<!DOCTYPE html">
<html lang="ko">

    <head>
        <title><%= title %></title>


<% include header.ejs %>
<body id="particle-slider">
    <header class="site-header">
        <h1 class="site-logo load-animation">
            <a href="/" class="hidden page-link">
                <img src="/images/logo.png" alt="mad">
            </a>
            <span class="transition01"></span>
        </h1>
        <div class="page-progress">
            <div class="progress-inner"></div>
        </div>
        <a href="javascript:void(0);" onclick="scroll_Top();" class="scrolltop">Scroll top</a>
    </header>
    <aside class="side-menu">
        <ul class="btn-menu default">
            <li></li>
            <li></li>
            <li></li>
        </ul>    
        <nav class="gnb">
            <ul class="site-menu">
                <li><a href="/" class="page-link">home</a></li>
                <li><a href="about" class="page-link">about</a></li>
                <li><a href="project" class="page-link">project</a></li>
                <li><a href="contact" class="page-link">contact</a></li>
            </ul>
        </nav>
    </aside>
    
    
 
    <div class="page-wrap">
    <div class="wrap">
        <div class="slides">
            <div id="first-slide" class="slide">
            </div>
        </div>
        <canvas class="particle" id="particle">
        </canvas>
        <div class="main-txt">
            <h2>
                <strong class="load-animation dpIb">
                    <span class="perspective-ani">
                        <span>betray</span>
                    </span>
                    <span class="transition01"></span>
                </strong>
                <strong class="load-animation">
                    <span class="perspective-ani">
                        <span>familiar things</span>
                    </span>
                    <span class="transition01"></span>
                </strong>
                <span class="perspective-ani">
                    <span class="line"></span>
                </span>
                <em class="load-animation">
                    <span class="perspective-ani">
                        <span>배반하라 익숙한것들을</span>    
                    </span>
                    <span class="transition01 other"></span>
                </em>
            </h2>
            <a href="about" class="btn-about hover-effect01 page-link">
                    ABOUT MAD
            </a>
        </div>
        <a href="javascript:void(0)" onclick="scrollDown();" class="scrolldown load-animation">
            <span class="hidden">scroll down</span>
            <span class="transition01"></span>
        </a>
        <div class="contents-wrap">
            <section class="project-main">
                <ul class="project-list">
                    <li class="col-11 parallax-item" data-distance="0.3">
                        <figure class="project-thumb viewport-eff">
                            <span class="hidden">
                        <img src="/images/project01.jpg" alt="">
                    </span>
                            <span class="transition01"></span>
                        </figure>
                        <figcaption class="info">
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">quann</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">entertainment</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <em class="ko viewport-eff">
                        <span class="hidden">콴 엔터테인먼트</span>
                        <span class="transition02 other"></span>
                    </em>
                            <div class="btn cf">
                                <a href="http://quanent.com/?c=user&mcd=&w=401" class="common-btn01 fl mr20" target="_blank">
                                    <span>visit site</span>
                                </a>
                            </div>
                        </figcaption>
                    </li>
                    <li class="col-11 parallax-item" data-distance="0.22">
                        <figure class="project-thumb viewport-eff">
                            <span class="hidden">
                        <img src="/images/project02.jpg" alt="">
                    </span>
                            <span class="transition01"></span>
                        </figure>
                        <figcaption class="info">
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">hillstate</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">volleyball team</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <em class="ko viewport-eff">
                        <span class="hidden">현대건설 배구단</span>
                        <span class="transition02 other"></span>
                    </em>
                            <div class="btn cf">
                                <a href="http://hillstate.hdec.kr/" class="common-btn01 fl mr20" target="_blank">
                                    <span>visit site</span>
                                </a>                                                          
                            </div>
                        </figcaption>
                    </li>
                    <li class="col-11 parallax-item" data-distance="0.33">
                        <figure class="project-thumb viewport-eff">
                            <span class="hidden">
                        <img src="/images/project03.jpg" alt="">
                    </span>
                            <span class="transition01"></span>
                        </figure>
                        <figcaption class="info">
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">edu</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">hdec</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <em class="ko viewport-eff">
                        <span class="hidden">현대건설 기술교육원</span>
                        <span class="transition02 other"></span>
                    </em>
                            <div class="btn cf">
                                <a href="http://edu.hdec.co.kr/web/default.aspx" class="common-btn01 fl mr20" target="_blank">
                                    <span>visit site</span>
                                </a>
                            </div>
                        </figcaption>
                    </li>
                    <li class="col-11 parallax-item" data-distance="0.25">
                        <figure class="project-thumb viewport-eff">
                            <span class="hidden">
                        <img src="/images/project04.jpg" alt="">
                    </span>
                            <span class="transition01"></span>
                        </figure>
                        <figcaption class="info">
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">tn</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">plastic surgery</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <em class="ko viewport-eff">
                        <span class="hidden">TN 성형외과</span>
                        <span class="transition02 other"></span>
                    </em>
                            <div class="btn cf">
                                <a href="http://tnps.co.kr" class="common-btn01 fl mr20" target="_blank">
                                    <span>visit site</span>
                                </a>
                            </div>
                        </figcaption>
                    </li>
                    <li class="col-11 parallax-item" data-distance="0.42">
                        <figure class="project-thumb viewport-eff">
                            <span class="hidden">
                        <img src="/images/project18.jpg" alt="">
                    </span>
                            <span class="transition01"></span>
                        </figure>
                        <figcaption class="info">
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">jk</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">plastic</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <em class="ko viewport-eff">
                        <span class="hidden">jk성형외과</span>
                        <span class="transition02 other"></span>
                            </em>
                            <div class="btn cf">
                                <a href="http://jkplastic.com" class="common-btn01 fl mr20" target="_blank">
                                    <span>visit site</span>
                                </a>
                            </div>
                        </figcaption>
                    </li>   
                    <li class="col-11 parallax-item" data-distance="0.35">
                        <figure class="project-thumb viewport-eff">
                            <span class="hidden">
                        <img src="/images/project06.jpg" alt="">
                    </span>
                            <span class="transition01"></span>
                        </figure>
                        <figcaption class="info">
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">my</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <div>
                                <strong class="project-name viewport-eff">
                            <span class="hidden">snu</span>
                            <span class="transition02 other"></span>
                        </strong>
                            </div>
                            <em class="ko viewport-eff">
                        <span class="hidden">서울공대동창회</span>
                        <span class="transition02 other"></span>
                    </em>
                            <div class="btn cf">
                                <a href="http://www.mysnu.org" class="common-btn01 fl mr20" target="_blank">
                                    <span>visit site</span>
                                </a>
                            </div>
                        </figcaption>
                    </li>
                </ul>
                <a href="http://themad.cafe24.com/project/" class="btn-all-project">
                    <span class="txt">all project</span>
                    <span class="line01"></span>
                    <span class="line02"></span>
                    <span class="line03"></span>
                    <span class="bg"></span>
                </a>
            </section>
        </div>
        <section class="getintouch-main parallax-item bottom-contents">
            <div class="contents-wrap">
                <div class="getintouch-txt col-5">
                    <div class="mb40">
                        <h3 class="section-tit viewport-eff">
                            <span class="hidden">contact</span>
                            <span class="transition01"></span>
                        </h3>
                    </div>
                    <div class="mb10">
                        <em class="viewport-eff">
                        <span class="hidden">hatemodify@gmail.com</span>
                        <span class="transition01"></span>
                    </em>
                    </div>
                    <div class="mb10">
                        <em class="viewport-eff">
                        <span class="hidden">010 6565 0710</span>
                        <span class="transition01"></span>
                    </em>
                    </div>
                    <span class="line viewport-eff">
                    <span class="hidden"></span>
                    <span class="transition01"></span>
                    </span>
                    <div>
                        <em class="ko viewport-eff">
                        <span class="hidden">“SNS 따위는 하지 않습니다.”</span>
                        <span class="transition01"></span>
                    </em>
                    </div>
                </div>
                <form class="getintouch-form" method="post" name="contactform" action="contact-handler.php">
                    <fieldset>
                        <h3 class="perspective-ani">
                            <span>제가 도울 수 있는 일이 있다면 도와드릴게요.</span>
                        </h3>
                        <div class="getintouch-input01 fl">
                            <div class="input-wrap perspective-ani">
                                <label class="t-d1" for="t-d1">이름</label>
                                <input type="text" class="t-d1 input-t" id="t-d1" name="name" placeholder="이름을 입력해 주세요">
                                <span class="l"></span>
                            </div>
                            <div class="input-wrap perspective-ani">
                                <label class="t-d2" for="t-d2">연락처</label>
                                <input type="text" class="t-d2 input-t" id="t-d2" name="phone" placeholder="연락처를 입력해 주세요">
                                <span class="l"></span>
                            </div>
                            <div class="input-wrap perspective-ani">
                                <label class="t-d3" for="t-d3">이메일</label>
                                <input type="text" class="t-d3 input-t" id="t-d3" name="email" placeholder="이메일을 입력해주세요">
                                <span class="l"></span>
                            </div>
                        </div>
                        <div class="getintouch-input02 fl perspective-ani">
                            <textarea class="getintouch-cont input-t" name="message" placeholder="메세지를 남겨주세요"></textarea>                            
                            <a href="javascript:void(0);" class="btn-submit common-btn01" onclick="formsubmit();">
                                <span>연락주세요</span>
                            </a> 
                            <i class="l"></i>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>

    </div>
</div>


    
<script>
    
    $(document).ready(function(){
        setTimeout(function(){
            p();  
        },2600)
      
    });
    </script>
<% include footer.ejs %>