<!DOCTYPE html">
<html lang="ko">

    <head>
        <title><%= title %></title>
<%include header.ejs %>
<div class="wrap">
    <div class="contents-wrap">

    </div>
    <div class="page-bottom">
        <section class="contents-wrap">
            <h2 class="page-end">
                <i>&lt;</i>
                <i>/</i>
                <i>p</i>
                <i>r</i>
                <i>o</i>
                <i>j</i>
                <i>e</i>
                <i>c</i>
                <i>t</i>
                <i>&gt;</i>
                <span class="cursor">|</span>
            </h2>
            <a href="/contact/" class="next-page page-link">
                <span>contact</span>
                <i class="arrow"></i>
            </a>
        </section>
    </div>           
</div>    

<%include footer.ejs %>