<!DOCTYPE html">
<html lang="ko">

    <head>
        <title><%= title %></title>
<%include header.ejs %>
<div class="wrap">
    <div class="contents-wrap">
        <section class="page-tit">
            <span class="page-name">
                <i>&lt;</i>
                <i>p</i>
                <i>r</i>
                <i>o</i>
                <i>j</i>
                <i>e</i>
                <i>c</i>
                <i>t</i>
                <i>&gt;</i>
                <span class="cursor">|</span>
            </span>
        </section>
        <section class="page-top parallax-item viewport-eff">
          <div class="info-box">
             <div class="info">
                 <div class="fr">
                    <strong> </strong>   
                     <em>제가 작업한 결과물을 보여드릴게요</em>
                 </div>
             </div>
              <span class="info-bg"></span>
          </div>
           <span class="page-img project"></span>
            <span class="bg prj"></span>
        </section>
        <section class="about-contents">
            <ul class="project-list">
                <li class="col-11 parallax-item" data-distance="0.3">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project01.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">quann</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">entertainment</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">콴 엔터테인먼트</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://quanent.com/?c=user&mcd=&w=401" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.22">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project02.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">hillstate</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">volleyball team</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">현대건설 배구단</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://hillstate.hdec.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>                                                          
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.33">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project03.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">edu</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">hdec</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">현대건설 기술교육원</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://edu.hdec.co.kr/web/default.aspx" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.25">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project04.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">tn</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">plastic surgery</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">TN 성형외과</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://tnps.co.kr" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.42">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project18.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">jk</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">plastic</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">jk성형외과</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://jkplastic.com" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>   
                <li class="col-11 parallax-item" data-distance="0.35">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project06.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">my</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">snu</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">서울공대동창회</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                             <a href="http://www.mysnu.org" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.42">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/pf_img10.png" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">gyeonggi sience</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">high school</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">경기과학고등학교</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="https://www.gs.hs.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>                    
                <li class="col-11 parallax-item" data-distance="0.32">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project13.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">days hotel</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">jejudo</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">데이지호텔 제주도</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://dayshoteljejudo.com/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>                    
                <li class="col-11 parallax-item" data-distance="0.25">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project05.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">centreal</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">fitness</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">센트리얼피트니스</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://centreal.co.kr" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.36">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project07.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">kingkong</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">library</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">킹콩라이브러리</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://kingkong.io/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.28">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project08.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">saesol</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">diamond</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">새솔다이아몬드</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://saesoldia.com/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.32">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project09.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">samsong</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">technovelley</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">삼송테크노벨리</span>
                    <span class="transition02 other"></span>
                </em>
                        <div class="btn cf">
                            <a href="http://www.samsongtechno.com" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.33">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/pf_img08.png" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">webro</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">soft</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">웨브로소프트</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://www.webrosoft.co.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>                    
                <li class="col-11 parallax-item" data-distance="0.25">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project10.png" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">wedding</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">march</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">웨딩마치</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://theweddingmarch.co.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>
                <li class="col-11 parallax-item" data-distance="0.35">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project11.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">e-</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">zonm</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">이존엠</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://www.ezonm.com/main" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>    
                <li class="col-11 parallax-item" data-distance="0.2">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project14.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">nara</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">book</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">나라북</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://www.narabook.co.kr" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>    
                <li class="col-11 parallax-item" data-distance="0.35">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project15.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">boryung</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">textile</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">보령텍스타일</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://www.boryungtextile.co.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>   
                <li class="col-11 parallax-item" data-distance="0.2">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project16.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">katia</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden"></span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">교통영향평가협회</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://www.katia.or.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>      
                <li class="col-11 parallax-item" data-distance="0.32">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project17.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">ray</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">dock</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">레이닥</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://ray-doc.com/?lang=KO" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>                           
                <li class="col-11 parallax-item" data-distance="0.2">
                    <figure class="project-thumb viewport-eff">
                        <span class="hidden">
                    <img src="/images/project19.jpg" alt="">
                </span>
                        <span class="transition01"></span>
                    </figure>
                    <figcaption class="info">
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">mgl</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <div>
                            <strong class="project-name viewport-eff">
                        <span class="hidden">logitics</span>
                        <span class="transition02 other"></span>
                    </strong>
                        </div>
                        <em class="ko viewport-eff">
                    <span class="hidden">MGL</span>
                    <span class="transition02 other"></span>
                        </em>
                        <div class="btn cf">
                            <a href="http://mglogis.co.kr/" class="common-btn01 fl mr20" target="_blank">
                                <span>visit site</span>
                            </a>
                        </div>
                    </figcaption>
                </li>      
            </ul>    
        </section>
    </div>
    <div class="page-bottom">
        <section class="contents-wrap">
            <h2 class="page-end">
                <i>&lt;</i>
                <i>/</i>
                <i>p</i>
                <i>r</i>
                <i>o</i>
                <i>j</i>
                <i>e</i>
                <i>c</i>
                <i>t</i>
                <i>&gt;</i>
                <span class="cursor">|</span>
            </h2>
            <a href="/contact/" class="next-page page-link">
                <span>contact</span>
                <i class="arrow"></i>
            </a>
        </section>
    </div>           
</div>    

<%include footer.ejs %>